{% extends 'base_security.html.twig' %}

{% block title %}Регистрация на BlaBlaArticle{% endblock %}

{% block content %}
    <h5 class="card-title text-center">Регистрация</h5>
    <div class="alert alert-success" role="alert">
        Для завершения регистрации подтвердите ваш email
    </div>
    {{ form_start(form) }}
        {{ form_row(form.name, {
            label: 'Ваше имя',
            attr: {
                placeholder: 'Ваше имя',
                autofocus: true
            },
            required: true
        }) }}

        {{ form_row(form.email, {
            label: 'Ваш Email',
            attr: {
                placeholder: 'Ваш Email'
            },
            required: true
        }) }}

        {{ form_row(form.plainPassword, {
            first_options: {
                label: 'Пароль',
                attr: {
                    placeholder: 'Пароль'
                },
                required: true
            },
            second_options: {
                label: 'Подтверждение пароля',
                attr: {
                    placeholder: 'Подтверждение пароля'
                },
                required: true
            },
            required: true
        }) }}

        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Регистрация</button>
        <hr class="my-4">
        <div class="text-center"><a href="{{ path('app_login') }}">Я уже зарегистрирован</a></div>
    {{ form_end(form) }}
{% endblock %}
