{% extends 'base_dashboard.html.twig' %}

{% block content %}
    <h1 class="mt-4">Рабочий стол</h1>
    <div class="row">
        <div class="col-xl-8 border-right">
            {% include 'partial/flashes.html.twig' %}
            <div class="card-columns dashboard">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ totalCount }}</h5>
                        <p class="card-text">Всего статей создано.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ monthCount }}</h5>
                        <p class="card-text">Создано в этом месяце.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ app.user.subscription.level }}</h5>
                        <p class="card-text">Ваш уровень подписки.</p>
                        {% if app.user.subscription.level != 'PRO' %}<a href="{{ path('app_dashboard_subscription') }}" class="btn btn-primary">Улучшить</a>{% endif %}</div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Создать статью</h5>
                        <a href="{{ path('app_dashboard_article_create') }}" class="btn btn-primary">Создать</a>
                    </div>
                </div>
                {% if article %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.content|striptags('<b>')|truncate(223, '...')|raw }}</p>
                        <a href="{{ path('app_dashboard_article_show', { id: article.id }) }}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
