{% extends 'base_dashboard.html.twig' %}

{% set PRO = constant('App\\Entity\\ValueObject\\Subscription::PRO') %}
{% set isFormDisabled = not app.user.subscription.subordinates(PRO) %}

{% block content %}
    <section>

        <h1 class="mt-4">Ваши модули</h1>


        {% include 'partial/flashes.html.twig' %}

        <table class="table table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Модуль</th>
                <th scope="col">Контент</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>

                {% for module in pagination %}
                <tr>
                    <th scope="row">{{ module.id }}</th>
                    <td>{{ module.name }}</td>
                    <td><pre class="code">{{ module.template }}</pre></td>
                    <td><a href="{{ path('app_dashboard_module_delete', {
                            id: module.id,
                            '_csrf': csrf_token('delete')
                        }) }}" class="text-danger"><i class="fas fa-trash"></i></a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="...">
            {{ knp_pagination_render(pagination) }}
        </nav>
    </section>

    <hr>

    <section class="py-4">

        <h1 class="mt-4">Добавить модуль</h1>

        <div class="row">

            <div class="col-xl-6">
                {{ form_start(form) }}
                    {% if isFormDisabled %}
                    <div class="alert alert-danger" role="alert">
                        Для добавления модулей необходим уровень подписки PRO.
                    </div>
                    {% endif %}
                    {{ form_row(form.name, {
                        label: 'Название модуля',
                        attr: {
                            placehorder: 'Название модуля',
                            autofoucs: true
                        },
                        required: true,
                        disabled: isFormDisabled
                    }) }}
                    {{ form_row(form.template, {
                        label: 'Код модуля',
                        required: true,
                        disabled: isFormDisabled
                    }) }}

                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" {% if isFormDisabled %}disabled="disabled"{% endif %}>Добавить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
