{% extends 'base_dashboard.html.twig' %}

{% form_theme form 'form/register_layout.html.twig' %}

{% block content %}
    <h1 class="mt-4">Профиль</h1>
    <div class="row">

        <div class="col-xl-6">
            {% include 'partial/flashes.html.twig' %}

            <div class="card my-4">
                <div class="card-body">

                    <p>Ваш API токен: asft21sfsvzxvghk1912t1g12m</p>
                    <button class="btn btn-outline-primary">Создать новый</button>
                </div>
            </div>

            {{ form_start(form) }}
                {{ form_row(form.name, {
                    label: 'Ваше имя',
                    attrs: {
                        placeholder: 'Ваше имя',
                        autofocus: true
                    },
                    required: true
                }) }}
                {{ form_row(form.email, {
                    label: 'Ваш Email',
                    attrs: {
                        placeholder: 'Ваш Email',
                    },
                    required: true
                }) }}
                {{ form_row(form.plainPassword.password, {
                    label: 'Пароль',
                    attr: {
                        placeholder: 'Пароль'
                    },
                    required: false
                }) }}

                {{ form_row(form.plainPassword.confirmPassword, {
                    label: 'Подтверждение пароля',
                    attr: {
                        placeholder: 'Подтверждение пароля'
                    },
                    required: false
                }) }}
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Изменить</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
