{% extends 'base_dashboard.html.twig' %}

{# form_theme form.images with ['form_div_layout.html.twig'] only #}
{% form_theme form.keywords 'form/register_layout.html.twig' %}
{% form_theme form.title 'form/register_layout.html.twig' %}
{% form_theme form.size_begin 'form/register_layout.html.twig' %}
{% form_theme form.size_end 'form/register_layout.html.twig' %}
{% form_theme form.promoted_words 'form/register_layout.html.twig' %}


{% block content %}
    <h1 class="mt-4">Создание статьи</h1>
    <div class="row">

        <div class="col-xl-6">
            <div class="alert alert-danger" role="alert">
                Превышен лимит создания статей, чтобы снять лимит <a href="{{ path('app_dashboard_subscription') }}">Улучшите подписку</a>
            </div>
            {{ form_start(form) }}
                {{ form_row(form.theme, {
                    label: 'Тематика',
                    placeholder: '-',
                    required: true
                }) }}
                {{ form_row(form.title, {
                    label: 'Заголовок статьи',
                    attr: { placeholder: 'Заголовок статьи' },
                    required: false
                }) }}
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Ключевое слово</p>
                        {% for index, keyword in zip(form.keywords, ['Ключевое слово', 'Родительный падеж', 'Дательный падеж', 'Винительный падеж', 'Творительный падеж', 'Предложный падеж', 'Множественное число']) %}
                            {{ form_row(keyword[0], {
                                label: keyword[1],
                                attr: { placeholder: keyword[1] },
                                required: index == 0
                            }) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.size_begin, {
                            label: 'Размер статьи от',
                            attr: { placeholder: 'Размер статьи' },
                            required: true
                        }) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.size_end, {
                            label: 'До',
                            attr: { placeholder: 'До' },
                            required: false
                        }) }}
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Продвигаемые слова</p>
                        {%  for promoted_word in form.promoted_words %}
                            <div class="row">
                                <div class="col">
                                    {{ form_row(promoted_word.word, {
                                        label: 'Продвигаемое слово',
                                        attr: { placeholder: 'Продвигаемое слово' },
                                        required: false
                                    }) }}
                                </div>
                                <div class="col">
                                    {{ form_row(promoted_word.repetitions, {
                                        label: 'кол-во',
                                        attr: {
                                            placeholder: 'кол-во',
                                            value: (promoted_word.repetitions.vars.value == 0) ? null : promoted_word.repetitions.vars.value
                                        },
                                        required: true,
                                    }) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {{ form_row(form.images, {
                    required: false
                }) }}
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Создать</button>
            {{ form_end(form) }}
        </div>
    </div>

    <hr>
    {% if content is not null %}

    <h2 class="mt-4">Ваша статья</h2>

    <hr>


    <div class="row">

        <div class="col-xl-6">

            {{ content|raw }}
        </div>

    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /** @type {HTMLInputElement} */
        var imageInput = document.querySelector('input.custom-file-input');
        var imageLabel = document.querySelector('label.custom-file-label');
        imageInput.addEventListener('change', onchange);

        function onchange(event) {
            imageLabel.innerText  = Array.from(event.target.files).map(function (file) {
                return file.name;
            }).join(', ');
        }
    </script>
{% endblock %}

