{% extends 'base_dashboard.html.twig' %}

{% form_theme form.keywords 'form/register_layout.html.twig' %}
{% form_theme form.title 'form/register_layout.html.twig' %}
{% form_theme form.size 'form/register_layout.html.twig' %}
{% form_theme form.promotedWords 'form/register_layout.html.twig' %}

{% set prototype = form.promotedWords.vars.prototype %}

{% form_theme prototype 'form/register_layout.html.twig' %}
{% set prototype_word = form_row(prototype.word, {
    label: 'Продвигаемое слово',
    attr: {
        placeholder: 'Продвигаемое слово',
        'data-index': '__name__'
    },
    required: false
}) %}
{% set prototype_repetitions = form_row(prototype.repetitions, {
    label: 'кол-во',
    attr: { placeholder: 'кол-во'  },
    required: false
}) %}


{% set FREE = constant('App\\Entity\\ValueObject\\Subscription::FREE') %}
{% set PLUS = constant('App\\Entity\\ValueObject\\Subscription::PLUS') %}
{% set disabled = not app.user.subscription.subordinates(PLUS) %}

{% block content %}
    <h1 class="mt-4">Создание статьи</h1>
    <div class="row">

        <div class="col-xl-6">
            {% if app.flashes('error')|length != 0 %}
            <div class="alert alert-danger" role="alert">
                Превышен лимит создания статей, чтобы снять лимит <a href="{{ path('app_dashboard_subscription') }}">Улучшите подписку</a>
            </div>
            {% endif %}
            {{ form_start(form) }}
                {{ form_row(form.theme, {
                    label: 'Тематика',
                    placeholder: '-',
                    required: true
                }) }}
                {{ form_row(form.title, {
                    label: 'Заголовок статьи',
                    attr: { placeholder: 'Заголовок статьи' },
                    required: false
                }) }}
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Ключевое слово</p>
                        {% for index, keyword in zip(form.keywords, ['Ключевое слово', 'Родительный падеж', 'Дательный падеж', 'Винительный падеж', 'Творительный падеж', 'Предложный падеж', 'Множественное число']) %}
                            {{ form_row(keyword[0], {
                                label: keyword[1],
                                attr: { placeholder: keyword[1] },
                                required: index == 0,
                                disabled: index != 0 and disabled
                            }) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.size.begin, {
                            label: 'Размер статьи от',
                            attr: { placeholder: 'Размер статьи' },
                            required: true
                        }) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.size.end, {
                            label: 'До',
                            attr: { placeholder: 'До' },
                            required: false
                        }) }}
                    </div>
                </div>
                <div class="card mb-4">
                    <div
                        class="card-body"
                        data-target="prototype"
                        data-prototype-word="{{ prototype_word|e('html_attr') }}"
                        data-prototype-repetitions="{{ prototype_repetitions|e('html_attr') }}"
                        data-prototype-index="{{ form.promotedWords|length }}"
                    >
                        <p class="card-title">Продвигаемые слова</p>
                        {%  for index, promoted_word in form.promotedWords %}
                            <div class="row">
                                <div class="col">
                                    {{ form_row(promoted_word.word, {
                                        label: 'Продвигаемое слово',
                                        attr: {
                                            placeholder: 'Продвигаемое слово',
                                            'data-index': index
                                        },
                                        required: false,
                                        disabled: index != 0 and disabled
                                     }) }}
                                </div>
                                <div class="col">
                                    {{ form_row(promoted_word.repetitions, {
                                        label: 'кол-во',
                                        attr: {
                                            placeholder: 'кол-во'
                                        },
                                        required: false,
                                        disabled: index != 0 and disabled
                                    }) }}
                                </div>
                            </div>
                            {% endfor %}
                            {% if form.promotedWords|length < 1 or app.user.subscription.subordinates(PLUS) %}
                            {% set index = form.promotedWords|length  %}
                            <div class="row">
                                <div class="col">
                                    {{ prototype_word|replace({ '__name__': index })|raw }}
                                </div>
                                <div class="col">
                                    {{ prototype_repetitions|replace({ '__name__': index })|raw }}
                                </div>
                            </div>
                            {% endif %}
                    </div>
                </div>
                {{ form_row(form.images, {
                    required: false,
                    disabled: disabled
                }) }}

                {{ form_row(form._token) }}
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Создать</button>
            {{ form_end(form, { render_rest: false }) }}
        </div>
    </div>

    <hr>
    {% if content is not null %}

    <h2 class="mt-4">Ваша статья</h2>

    <hr>


    <div class="row">

        <div class="col-xl-6">

            {{ content|raw }}
        </div>

    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user.subscription.subordinates(PLUS) %}
        <script src="{{ asset('js/dashboard_create_article.js') }}"></script>
    {% endif %}
{% endblock %}

