{% extends 'base_dashboard.html.twig' %}

{% form_theme form.keywords 'form/register_layout.html.twig' %}
{% form_theme form.title 'form/register_layout.html.twig' %}
{% form_theme form.size_begin 'form/register_layout.html.twig' %}
{% form_theme form.size_end 'form/register_layout.html.twig' %}
{% form_theme form.promoted_words 'form/register_layout.html.twig' %}

{% set FREE = constant('App\\Entity\\ValueObject\\Subscription::FREE') %}

{% block content %}
    <h1 class="mt-4">Создание статьи</h1>
    <div class="row">

        <div class="col-xl-6">
            <div class="alert alert-danger" role="alert">
                Превышен лимит создания статей, чтобы снять лимит <a href="{{ path('app_dashboard_subscription') }}">Улучшите подписку</a>
            </div>
            {{ form_start(form) }}
                {{ form_row(form.theme, {
                    label: 'Тематика',
                    placeholder: '-',
                    required: true
                }) }}
                {{ form_row(form.title, {
                    label: 'Заголовок статьи',
                    attr: { placeholder: 'Заголовок статьи' },
                    required: false
                }) }}
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Ключевое слово</p>
                        {% for index, keyword in zip(form.keywords, ['Ключевое слово', 'Родительный падеж', 'Дательный падеж', 'Винительный падеж', 'Творительный падеж', 'Предложный падеж', 'Множественное число']) %}
                            {{ form_row(keyword[0], {
                                label: keyword[1],
                                attr: { placeholder: keyword[1] },
                                required: index == 0,
                                disabled: index != 0 and app.user.subscription.level == FREE
                            }) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.size_begin, {
                            label: 'Размер статьи от',
                            attr: { placeholder: 'Размер статьи' },
                            required: true
                        }) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.size_end, {
                            label: 'До',
                            attr: { placeholder: 'До' },
                            required: false
                        }) }}
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Продвигаемые слова</p>
                        {%  for index, promoted_word in form.promoted_words %}
                            <div class="row">
                                <div class="col">
                                    {{ form_row(promoted_word.word, {
                                        label: 'Продвигаемое слово',
                                        attr: { placeholder: 'Продвигаемое слово' },
                                        required: false,
                                        disabled: index != 0 and app.user.subscription.level == FREE
                                    }) }}
                                </div>
                                <div class="col">
                                    {{ form_row(promoted_word.repetitions, {
                                        label: 'кол-во',
                                        attr: {
                                            placeholder: 'кол-во',
                                            value: (promoted_word.repetitions.vars.value == 0) ? null : promoted_word.repetitions.vars.value
                                        },
                                        required: false,
                                        disabled: index != 0 and app.user.subscription.level == FREE
                                    }) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-label-group">
                                        <input  type="text"
                                                id="create_article_form_promoted_words_0_word"
                                                name="create_article_form[promoted_words][0][word]"
                                                placeholder="Продвигаемое слово"
                                                class="form-control"
                                        >
                                        <label for="create_article_form_promoted_words_0_word">Продвигаемое слово</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-label-group">
                                        <input  type="text"
                                                id="create_article_form_promoted_words_0_repetitions"
                                                name="create_article_form[promoted_words][0][repetitions]"
                                                placeholder="кол-во"
                                                class="form-control"
                                        >
                                        <label for="create_article_form_promoted_words_0_repetitions">кол-во</label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {{ form_row(form.images, {
                    required: false,
                    disabled: app.user.subscription.level == FREE
                }) }}
                {{ form_row(form._token) }}
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Создать</button>
            {{ form_end(form, { render_rest: false }) }}
        </div>
    </div>

    <hr>
    {% if content is not null %}

    <h2 class="mt-4">Ваша статья</h2>

    <hr>


    <div class="row">

        <div class="col-xl-6">

            {{ content|raw }}
        </div>

    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user.subscription.level != FREE  %}
        <script src="{{ asset('js/dashboard_create_article.js') }}"></script>
    {% endif %}
{% endblock %}

